certifi==2020.12.5
chardet==4.0.0
decorator==5.0.7
Django==1.10.8
django-classy-tags==0.8.0
django-sekizai==0.10.0
idna==2.10
packaging==20.9
Pillow==8.2.0
pyobjc==7.1
pyparsing==2.4.7
pypresence==4.2.0
requests==2.25.1
six==1.15.0
urllib3==1.26.4
validators==0.18.2
setuptools~=56.0.0
PyInstaller>=4.1
py2app>=0.24